#outer
	.jcExample
		.article
			%h1 Cropify
			%img#cropbox{:src => "/demo/sago.jpg"}/
			%div{:style => "margin: 20px 0;"}
				%span.requiresjcrop
					%button#setSelect setSelect
					%button#animateTo animateTo
					%button#release Release
					%button#disable Disable
				%button#enable{:style => "display:none;"} Re-Enable
				%button#unhook Destroy!
				%button#rehook{:style => "display:none;"} Attach Jcrop
			- if defined?(:output) and !output.empty?
				%img#output{:src => output}
			%form{:action => "/", :method => "post", :enctype => "multipart/form-data"}
				%label Download to
				%input{:type => :text, :name => "folder", :value => "cropify-images"}
				%fieldset#sizes
					%legend Sizes
					%input{:id => "add-size", :type => "button", :value => "Add Size"}
					.size
						%label Width
						%input{:type => :text, :name => "cropfiy[][width]", :size => 5}
						%label Height
						%input{:type => :text, :name => "cropfiy[][height]", :size => 5}
						%label Scale Mode
						%select{:name => "cropfiy[][scale_mode]"}
							%option{:value => "fit"} Fit
							%option{:value => "fill"} Fill
							%option{:value => "chop"} Chop
						%select{:name => "cropfiy[][gravity_type]"}
							- %w(none north-west north north-east west center east south-west south south-east).each do |type|
								%option{:name => type}= type.titleize
						%label Quality
						%input{:type => :text, :name => "cropfiy[][quality]", :size => 3}
				%fieldset#files
					%legend Files
					%input{:type => "file", :name => "files[]", :multiple => "multiple"}
				%fieldset#options
					%legend Options
					.scale
						%label Scale?
						%input{:type => "checkbox", :name => "scale"}
					.crop
						%label Side to Crop:
						%input{:type => "radio", :name => "crop_group", :value => "width"} Width
						%input{:type => "radio", :name => "crop_group", :value => "height"} Height
				%input{:type => "submit", :value => "Process"}