#container
	#content_row
		.content_all
			#logo
				%h1
					%a{:href => "/"}= c("metadata.title")
				%h4= c("metadata.description")
			#timer
				#progress-bar-bg
					#progress-bar{:title => "Soon to show total file size"}
				#file-percent
				%form#cropify-form{:action => "/", :method => "post", :enctype => "multipart/form-data"}
					.table_display
						%table
							%thead
								%tr
									%th Width
									%th Height
									%th Scale Mode
									%th Registration
									%th Quality
							%tbody#cropify-table-body
								%tr
									%td
										%input.text_input{:type => :text, :name => "cropfiy[][width]", :size => 5}
									%td
										%input.text_input{:type => :text, :name => "cropfiy[][height]", :size => 5}
									%td
										%select{:name => "cropfiy[][scale_mode]"}
											%option{:value => "fit"} Fit
											%option{:value => "fill"} Fill
											%option{:value => "chop"} Chop
									%td
										%select{:name => "cropfiy[][gravity_type]"}
											- %w(none north-west north north-east west center east south-west south south-east).each do |type|
												%option{:name => type}= type.titleize
									%td
										%input.text_input{:type => :text, :name => "cropfiy[][quality]", :size => 3}
									%td
										%input.remove{:type => "image", :src => "/images/remove.png"}
										%input.add{:type => "image", :src => "/images/add.png"}
					#display
						#nested
							%label.cabinet
								%input.file{:type => "file", :name => "files[]", :multiple => ""}
						#files
							%p.label Choose File(s)
						%input.large.button{:type => "submit", :value => "Crop"}
#footer
	:textile
		#{c("snippets.copyright")}
:javascript
	// <![CDATA[
	SI.Files.stylizeAll();

-#
	#outer
		.jcExample
			.article
				%h1 Cropify
				%img#cropbox{:src => "/demo/sago.jpg"}/
				%div{:style => "margin: 20px 0;"}
					%span.requiresjcrop
						%button#setSelect setSelect
						%button#animateTo animateTo
						%button#release Release
						%button#disable Disable
					%button#enable{:style => "display:none;"} Re-Enable
					%button#unhook Destroy!
					%button#rehook{:style => "display:none;"} Attach Jcrop
				- if defined?(:output) and !output.empty?
					%img#output{:src => output}
				